
{% extends "base.html" %}
{% block content %}

	<form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
{{ form.as_p }}

    <input type="submit" value="Submit" />
</form>


<table data-table-list class="table-striped table-bordered">
    <tr>
        <th>Fruit</th>
        <th>Probability</th>
    </tr>
    {% for item in text %}
    <tr> 
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
    </tr>
    {% endfor %}
</table>

<img src="{{img}}"/>

{% endblock %}
